:root {
  /* font size */

  font-size: 10px;

  /* colors */
  --primary: #f0eeee;
  --secondary: #0cb981;
  --backgroundColor: #0c805d;

  --page-width: 151.2rem;
  --page-height: 120rem;
  --card-width: 132rem;
  --card-height: 103.7rem;
  --page-padding: 8.2rem 9.6rem 8.1rem 9.6rem;
}
