.parent{
    width: 100%;
    
}

.parent .parent__form{
    width: 35%;
    border: 1px solid black;
    border-radius: 2.0rem;
    padding: 3.0rem;
    font-size: 1.8rem;
    margin: auto;
    margin-top: 20%;
}

.parent .parent__form h2{
    font-size: 3.0rem;
    margin-bottom: 2.0rem;
}

.parent .form__input{
    width: 100%;
    margin-bottom: 2.0rem;
    border: 1px solid black;
    padding: 1.0rem;
    
}

.parent .form__input input{
    width: 100%;
    
    border: 0px solid red;
    padding: 2.0rem;
    font-size: 2.0rem;
    outline: none;
    border: none;
}

.parent .parent__form button{
    width: 100%;
    font-size: 2.5rem;
    background-color: var(--secondary);
    border: none;
    padding: 2.0rem;
}